backend:
  name: github
  repo: brianrc/phenomictest # owner/repo
  branch: master # master

public_folder: "content"
media_folder: "content/assets"

collections:
  - name: "post"
    label: "Post"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Layout", name: "layout", widget: "string", default: "Post"}
    meta:
      - {label: "Publish Date", name: "date", widget: "datetime"}
